OPENROUTER_API_KEY="sk-or-v1-xxxx"
OPENROUTER_ORCHESTRATOR_MODEL="x-ai/grok-4.1-fast"
OPENROUTER_SALES_MODEL="x-ai/grok-4.1-fast"
OPENROUTER_SUPPORT_MODEL="x-ai/grok-4.1-fast"
OPENROUTER_ORCHESTRATOR_TEMPERATURE="-1"
OPENROUTER_SALES_TEMPERATURE="-1"
OPENROUTER_SUPPORT_TEMPERATURE="-1"
ZEP_API_KEY="xxx.c1-xxx"
LLM_MODEL="x-ai/grok-4.1-fast"

UPSTASH_REDIS_URL="https://<your-upstash-redis-endpoint>.upstash.io"
UPSTASH_REDIS_TOKEN="xxxx="
UPSTASH_REDIS_TIMEOUT="10s"
